@import "variable.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, iframe {
    width: 100%;
}

h1, h2, h3 {
    font-family: @font-family-acumin-pro-condensed;
}
p {
    font-family: @font-family-lato;
}
/************************ START HOME STYLING ************************/

.body-home {
    color: @dark-blue;   
    font-family: lato, sans-serif;
    min-height: 100vh;
    width: 100%;
    
    .header-home {
        background: #b3b3b3;
        height: 50px;
    }

    h1, h2, h3, h4 {
        font-family: acumin-pro-extra-condensed, sans-serif;
        letter-spacing: 2px;
        color: @white;
    }

    
    .cta, .txt {
        color: @white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

}

.hero-home {
    background-image: url(images/home-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    h1 {
        font-size: 3rem;
        text-align: center;
    }
    .cta {
        background: @dark-yellow;
        padding: 1% 4%;
        border-radius: 30px;
        margin-top: 2%;
    }

    .cta:hover {
        background: @peach;
        transition: .7s ease-in-out;
    }
}

.mission {
    background: @dark-blue;
    color: @white;
    text-align: center;
    padding: 10% 5%;

    .p-mission {
        width: 50%;
        margin: auto;
    }
}

.link {
    display: flex;
    flex-flow: row wrap;

    .block {
        color: @white;
        width: 100%;
        background: @white;
        text-align: center;
        position: relative;

    
        img {
            height: 100%;
        }
    }
    .txt {
        font-size: 2rem;
        position: absolute;
        z-index: 9999;
        top: 33%;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;

    }
    .rectangle {
        border: 1px solid white;
        width: 50%;
        height: 50%;
        margin: auto;
        height: -50%;
        position: absolute;
        left: 0;
        right: 0;
        top: 25%;
    }

    
}


/************************ START ABOUT STYLING ************************/

.navbar-custom {
    background-color: @dark-blue !important;
}

.navbar-brand {
    position: absolute;
    top: -5px;
    width: 96vw;
}

.navbar-nav {
    padding-top: 5px;
}

.navbar-toggler {
    margin-top: 100px;
    margin-bottom: 3px;
}

.logo {
    max-width: 200px;
    display: block;
    margin: auto;
}


.hero-about {
    background-image: url(images/bg-1.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid @dark-blue;

    .about-border {
        padding-top: 14%;
        padding-left: 12%;
        min-height: 30vh;
    }

    .hero-title {
        color: @dark-blue;
        border-left: solid 5px @peach;
        padding-left: 3%;
    }
}

.about-content {
    padding: 5%;

    h2 {
        text-align: center;
        padding-bottom: 3%; 
        color: @dark-blue;
    }

    h3 {
        padding-bottom: 3%;
        text-align: center;
        color: @dark-blue;
    }

    p {
        padding-bottom: 3%;
        color: @dark-blue;
    }
}


.footer-color-block {
    background-color: @dark-blue;
    padding: 5%;
    color: @white;

    h3 {
        text-align: center;
        padding-bottom: 2%;
    }

    ul, p {
        font-family: @font-family-lato; 
        text-align: center;
    }

    li {
        list-style: none;
    }

    p span {
        font-weight: bold;
    }

    .footer-padding {
        padding-top: 8%;
    }
}

.footer-content {
    padding: 5%;

    ul, p {
        text-align: center;
        color: @dark-blue;
        font-family: @font-family-lato; 

        li {
            list-style: none;
            padding-bottom: 1%;
        }
    }

    .footer-icons {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 3%;
        font-size: 35px;
    }

    a {
        color: @dark-blue;
        text-decoration: none;
        padding-right: 1%;
    }
}

/**********************START BEERS STYLING********************************/

.beer-page {
    .hero-beers {
        background-image: url(images/bg-2.jpg);
        background-size: cover;
        background-position: center;
        
        .title-border {
            .hero-about.about-border();
        }
        .hero-title {
            .hero-about.hero-title();
        }
    }
}

.beer-content {
    text-align: center;
    .beer-intro {
        width: 50%;
        padding: 2% 0;
        margin: auto;
    }
}
.main-brews {
    padding: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .card-text {
        text-align: left;
    }

    .card-title {
        text-align: left;
    }

    .line {
        width: 100%;
        border-bottom: 1px solid @peach;
        margin: 5% 0;
    }
}

/********************* START EVENTS STYLING *****************************/

.hero-events {
    background-image: url(images/bg-3.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid @dark-blue;

    .title-border {
        .hero-about .about-border();
    }

    .hero-title {
       .hero-about .hero-title();
    }
}

.flex {
    animation: fadein 2s ease;
}

.events .flex {
    padding: 5%;
}

.events figure {
    padding: 8%;
}


.events-container {
    h2 {
        text-align: center;
        padding-top: 10%;
        color: @dark-blue;
        font-size: 2rem;
    }

    a {
        color: @white;  
        text-decoration: none;

        figure {
            position: relative;
            transition: .5s;

            figcaption {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
                color: @white;
                font-family: @font-family-lato; 
                text-align: center;
                font-size: 1.4rem;
            }
        }
    }
}

.events-container {
    figure:hover {
        -moz-box-shadow: 0 15px @dark-blue;
	    -webkit-box-shadow: 0 0 15px @dark-blue;
 	    box-shadow: 0 0 15px @dark-blue;
	    transition: .3s;
    }
}


/********************* START ANIMATION KEYFRAME **********************/
@keyframes fadein {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}

}


/********************* START 500PX MEDIA QUERY **************************/
@media (min-width: 500px ) {
    .events-container {
        h2 {
            font-size: 3rem;
        }

        a figure figcaption {
            font-size: 2rem;
        }
    }
 }


/********************* START 650PX MEDIA QUERY **************************/
@media (min-width: 650px ) {
    .hero-about .about-border {
        padding-top: 8%;

        h1 {
            padding-left: 2%;
        }
    }

    .link {
        .block {
            width: 50%;
        }
       }

    .footer-color-block .footer-padding {
        padding-top: 6%;
    }
}

/********************* START 700PX MEDIA QUERY **************************/
@media (min-width: 700px ) {
   .flex {
    display: flex;
   } 

   .events-container {
        h2 {
            font-size: 2rem;
            padding-bottom: 3%;
        }

        a figure figcaption {
            font-size: 1.4rem;
        }
    }

    .events-border {
        border-right: 1px solid @peach;
    }
}


/********************* START 767PX MEDIA QUERY **************************/
@media (min-width: 767px ) {
    .navbar-nav {
        padding-top: 100px;
    }
}


/********************* START 850PX MEDIA QUERY **************************/
@media (min-width: 850px) {

    .link {
        
        .txt:hover {
          border-top: 2px double white;
          border-bottom: 2px double white;
          width: 65%;
          height: 30%;
          margin: auto;
          transition: .2s;
      }
}
    .hero-about .about-border {
        min-height: 50vh;
    
        h1 {
        padding-left: 1%;
        font-size: 50px;
        border-left: solid 8px @peach;
        }
    }


	.flex1, .flex2 {
        display: flex;
    }

    .image-flex {
        width: 50%;
    }

    .flex2 {
        flex-direction: row-reverse;
    }

    .footer-color-block {

        h3 {
            padding-bottom: 1%;
        }

        .footer-padding {
            padding-top: 4%;
    
        }
    }
}


/********************* START 1000PX MEDIA QUERY **************************/
@media (min-width: 1000px) {
    .hero-about .about-border {
        padding-top: 6%;
    }

    .flex {
        width: 90%;
        margin: 0 auto;
    }

    .events-container {
        margin: 0 auto;
        
        h2 {
            font-size: 3rem;
        }

        a figure {
            img {
                max-width: 550px;
            }

            figcaption {
                font-size: 2rem;
            }
        }
        
    }
}


/********************* START 1200PX MEDIA QUERY **************************/
// @media (min-width: 1200px ) {
//     .image-flex {
//         width: 600px;
//     }
// }


@media (min-width: 1200px ) {
    .link {
    .txt {
        top: 40%;
      }

    }
    .hero-about .about-border {
         min-height: 60vh;
    }
    
    .flex1, .flex2 {
        align-items: center;
    }

    .hero-home {
        h1 {
            font-size: 6rem;
        }
    }

    .main-brews {
        .card.mb-3 {
            width: 50%;
        }
    }
}

@media (min-width: 1300px) {
    .link {
        
          .txt:hover {
            border-top: 2px double white;
            border-bottom: 2px double white;
            width: 45%;
            height: 25%;
            margin: auto;
            transition: .2s;
        }
}
}


// @media (min-width: 1200px) {
// 	.image-flex{
//         width: 600px
//     }
// }



/********************* START 1400PX MEDIA QUERY **************************/
// @media (min-width: 1400px ) {
//     .about-content {
//         padding-top: 16%;
//     }
// }

/********************* START 1500PX MEDIA QUERY **************************/

@media (min-width: 1500px ) {
    .hero-about .about-border {
         min-height: 70vh;
    }
}

@media (max-width: 800px) {
    .card.mb-3 {
        width: 48%;
    }
}

@media (max-width: 750px) {
    .main-brews {
        display: flex;
        flex-flow: row wrap;
    }

    .card.mb-3 {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .card.mb-3 {
        width: 60%;
    }
}

@media (max-width: 450px) {
    .card.mb-3 {
        width: 75%;
    }
}