@import "variable.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, iframe {
    width: 100%;
}

h1, h2, h3 {
    font-family: @font-family-acumin-pro-condensed;
}
p {
    font-family: @font-family-lato;
}

/************************ START NAV STYLING ************************/
.logo {
    max-width: 200px;
    display: block;
    margin: auto;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.nav-flex,
.desktop-menu {
    display: none;
}

.menu,
.hamburger,
.cross {
    display: block;
}


/************************** Hamburger menu *********************/
.hamburger{
    background:none;
    position:absolute;
    top:0;
    line-height:50px;
    padding: 1px 10px 2px 15px;
    color: @white;
    border:0;
    font-size:1.8em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .cross{
    background:none;
    position:absolute;
    top:0;
    padding:1px 15px 0px 15px;
    color: @white;
    border:0;
    font-size:3.5em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  
  .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:@peach;  position:absolute; text-align:center; font-size:1em; }
  .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
  .menu li {display: block;   padding:15px 0 15px 0; border-bottom:@white 1px solid;}
  .menu li:hover{display: block;  background:@white; padding:15px 0 15px 0; border-bottom:white 1px solid; transition: .2s ease;} 
  .menu ul li a { text-decoration:none;  margin: 0px; color:@white;}
  .menu ul li a:hover {  color: @peach;  text-decoration:none;}
  .menu a{text-decoration:none; color: @white;}
  .menu a:hover{text-decoration:none; color: @white;}

/*********************** START FOOTER STYLING ***********************/

.footer-color-block {
    background-color: @dark-blue;
    padding: 5%;
    color: @white;

    h3 {
        text-align: center;
        padding-bottom: 2%;
    }

    ul, p {
        font-family: @font-family-lato; 
        text-align: center;
    }

    li {
        list-style: none;
    }

    p span {
        font-weight: bold;
    }

    .footer-padding {
        padding-top: 8%;
    }
}

.footer-content {
    padding: 5%;

    ul, p {
        text-align: center;
        color: @dark-blue;
        font-family: @font-family-lato; 

        li {
            list-style: none;
            padding-bottom: 1%;
        }
    }

    .footer-icons {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 3%;
        font-size: 35px;
    }

    a {
        color: @dark-blue;
        text-decoration: none;
        padding-right: 1%;
    }
}


/************************ START HOME STYLING ************************/

.body-home {
    color: @dark-blue;   
    font-family: @font-family-lato;
    min-height: 100vh;
    width: 100%;
    

    h1, h2, h3, h4 {
        font-family: @font-family-acumin-pro-condensed;
        letter-spacing: 2px;
        color: @white;
    }

    
    .cta, .txt {
        color: @white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.hero-home {
    background-image: url(images/home-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    h1 {
        font-size: 3rem;
        text-align: center;
    }
    .cta {
        animation: fadein .6s ease-in-out;
        animation-delay: .2s;
        animation-fill-mode: both;
        background: @dark-yellow;
        padding: 1% 4%;
        border-radius: 30px;
        margin-top: 2%;
    }

    .cta:hover {
        background: @peach;
        transition: .7s ease-in-out;
    }
}

.mission {
    background: @dark-blue;
    color: @white;
    text-align: center;
    padding: 10% 5%;

    .p-mission {
        width: 50%;
        margin: auto;
    }
}

.link {
    display: flex;
    flex-flow: row wrap;

    .block {
        color: @white;
        width: 100%;
        background: @white;
        text-align: center;
        position: relative;

    
        img {
            height: 100%;
        }
    }
    .txt {
        font-size: 2rem;
        position: absolute;
        z-index: 9999;
        top: 33%;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;

    }
    .rectangle {
        border: 1px solid white;
        width: 50%;
        height: 50%;
        margin: auto;
        height: -50%;
        position: absolute;
        left: 0;
        right: 0;
        top: 25%;
    }
}


/************************ START ABOUT STYLING ************************/
.hero-about {
    background-image: url(images/bg-1.jpg);
    background-size: cover;
    background-position: center;

    .about-border {
        padding-top: 14%;
        padding-left: 12%;
        min-height: 30vh;
    }

    .hero-title {
        color: @dark-blue;
        border-left: solid 5px @peach;
        padding-left: 3%;
        font-weight: 500;
        font-size: 2.5rem;
    }
}

.about-content {
    padding: 5%;

    h2 {
        text-align: center;
        padding-bottom: 3%; 
        color: @dark-blue;
    }

    h3 {
        padding-bottom: 3%;
        text-align: center;
        color: @dark-blue;
    }

    p {
        padding-bottom: 3%;
        color: @dark-blue;
    }
}

/**********************START BEERS STYLING********************************/

.hero-beers {
    background-image: url(images/bg-2.jpg);
    background-size: cover;
    background-position: center;
        
    .title-border {
        .hero-about.about-border();
    }
    .hero-title {
        .hero-about.hero-title();
    }
}


.beer-content {
    text-align: center;
    padding-top: 4%;
    ul {
        margin-bottom: 75px;
        li {
            margin: 4% 0;
        }
        a {
            color: @peach;
            border-bottom: 1px solid @peach;
        }
    }


    .beer-intro {
        width: 80%;
        padding: 2% 0;
        margin: auto;
    }
}
.main-brews {
    padding: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .col-md-4 {
        img {
        padding: 8% 0;
      }
     }

    .row {
        padding: 7%;
    }

    .card-text {
        text-align: left;
    }

    .card-title {
        text-align: left;
    }

    .line {
        width: 100%;
        border-bottom: 1px solid @peach;
        margin: 5% 0;
    }
}

.tap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .contain-tap {
        padding: 4% 0;
        ul {
            li {
                list-style-type: none;
                line-height: 2.5;
                font-size: 0.8rem;
            }
        }
    }
}

 /********************* START EVENTS STYLING *****************************/

 .hero-events {
    background-image: url(images/bg-3.jpg);
    background-size: cover;
    background-position: center;

    .title-border {
        .hero-about .about-border();
    }

    .hero-title {
       .hero-about .hero-title();
    }
}

.flex {
    animation: fadein 2s ease;
}

.events .flex {
    padding: 5%;
}

.events figure {
    padding: 2%;
}


.events-container {
    h2 {
        text-align: center;
        padding-top: 10%;
        color: @dark-blue;
        font-size: 2rem;
    }

    a {
        color: @white;  
        text-decoration: none;

        figure {
            position: relative;
            transition: .5s;

            figcaption {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
                color: @white;
                font-family: @font-family-lato; 
                text-align: center;
                font-size: 1.4rem;

            }
        }
    }
}


.events-container {
    figure:hover {
        -moz-box-shadow: 0 15px @dark-blue;
	    -webkit-box-shadow: 0 0 15px @dark-blue;
 	    box-shadow: 0 0 15px @dark-blue;
	    transition: .3s;
    }
}


/********************* START ANIMATION KEYFRAME **********************/
@keyframes fadein {
	0% {
		opacity: 0;
		transform: scale(0.1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

 /********************* START CONTACT STYLING ***************************/
 
.hero-contact {
    background-image: url(images/bg-4.jpg);
    background-size: cover;
    background-position: center;

    .title-border {
        .hero-about .about-border();
    }

    .hero-title {
       .hero-about .hero-title();
    }
}

form {
    margin: 0 auto;
    margin-top: 6%;
    margin-bottom: 7%;

    .form-width {
        width: 60%;
    }

    label {
        color: @dark-blue !important;
        font-family: @font-family-lato !important;
    }

    input, textarea {
        background-color: @peach !important;
        font-family: @font-family-lato !important;
        color: @white !important;
    }

    input::placeholder, textarea::placeholder {
        color: @white !important;
    }

    button {
        margin-left: 4%;
        background-color: @dark-blue !important;
        transition: .5s !important;
    }
}

form button:hover {
    background-color: @peach !important;
    color: @white !important;
    transition: .3s !important;
}

.contact-section p {
    text-align: center;
    padding-bottom: 2%;
    color: @dark-blue;
    font-family: @font-family-acumin-pro-condensed;
    font-size: 2rem;
    padding: 2%;
}



/********************* START 450PX MEDIA QUERY **************************/
@media (min-width: 450px ) {
   form {
    width: 80%;
   }
}


/********************* START 500PX MEDIA QUERY **************************/
@media (min-width: 500px ) {
    .events-container {
        h2 {
            font-size: 3rem;
        }

        a figure figcaption {
            font-size: 2rem;
        }
    }
 }

/********************* START 550PX MEDIA QUERY **************************/
@media (min-width: 550px) {
//     .beer-page .hero-beers .title-border {
//         padding-top: 5%;
// }
    .main-brews .card.mb-3 {
        width: 47%;
        margin: 1%;
    }

    form {
        width: 70%;
       }

}
/********************* START 650PX MEDIA QUERY **************************/
@media (min-width: 650px ) {
    .nav-flex .nav-beers {
        padding-right: 28%;
    }

    .hero-about .about-border, 
    .hero-beers .title-border,
    .hero-events .title-border,
    .hero-contact .title-border {
        padding-top: 8%;

        h1 {
            padding-left: 2%;
        }
    }


    .link {
        .block {
            width: 50%;
        }
    }

    .footer-color-block .footer-padding {
        padding-top: 6%;
    }
}

/********************* START 700PX MEDIA QUERY **************************/
@media (min-width: 700px ) {
   .flex {
    display: flex;
   } 

   .events-container {
        h2 {
            font-size: 2rem;
            padding-bottom: 3%;
        }

        a figure figcaption {
            font-size: 1.4rem;
        }
    }

    .events-right {
        padding-right: 8%;
    }
    
    .events-left {
        padding-left: 8%;
    }

    .events-border {
        border-right: 1px solid @peach;
    }

    .nav-flex, .desktop-menu {
        display: block;
    }

    .desktop-menu {
        margin-bottom: 1rem;
    
        .nav-flex {
            display: flex;
            padding-left: 2%;
            padding-top: 2%;
            list-style-type: none;
            justify-content: space-evenly;
           
            li {
                font-family:  @font-family-lato; 
                font-weight: 600;
            }
           
            a {
                text-decoration: none;
                color: @dark-blue;
            }
    
        }
    }

    .menu,
    .hamburger,
    .cross {
        display: none;

    }

    .contact-flex {
        display: flex;
        align-items: center;

        form {
            width: 50%;
            margin-left: 10%;

            .form-width-text-box {
                width: 85%;
            }
        }

        p {
            flex: 1;
            font-size: 2.5rem;
            margin-right: 9%;
        }
    }

}


/********************* START 750PX MEDIA QUERY **************************/
@media (min-width: 750px) {
    .main-brews .col-md-4 img {
        padding: 16% 0;
    }
    .main-brews .row {
        padding: 0%;
    }
}


/********************* START 850PX MEDIA QUERY **************************/
@media (min-width: 850px) {

    .link {
        
        .txt:hover {
          border-top: 2px double white;
          border-bottom: 2px double white;
          width: 65%;
          height: 30%;
          margin: auto;
          transition: .2s;
      }
}
    .hero-about .about-border,
    .hero-beers .title-border,
    .hero-events .title-border,
    .hero-contact .title-border {
        min-height: 50vh;
    
        h1 {
        padding-left: 1%;
        font-size: 50px;
        border-left: solid 8px @peach;
        }
    }


    .beer-content .beer-intro {
        width: 50%;
    }


	.flex1, .flex2 {
        display: flex;
    }

    .image-flex {
        width: 50%;
    }

    .flex2 {
        flex-direction: row-reverse;
    }

    .footer-color-block {

        h3 {
            padding-bottom: 1%;
        }

        .footer-padding {
            padding-top: 4%;
    
        }
    }
}

/********************* START 950PX MEDIA QUERY **************************/

@media (min-width: 950px) {
    .tap {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    .contain-tap {
        width: 33.33333333%;
    }
}

}

/********************* START 1000PX MEDIA QUERY **************************/
@media (min-width: 1000px) {
    nav {
        max-width: 1000px;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    .hero-about .about-border,
    .hero-beers .title-border,
    .hero-events .title-border,
    .hero-contact .title-border {
        padding-top: 6%;
    }

    .flex {
        width: 90%;
        margin: 0 auto;
    }

    .events-container {
        margin: 0 auto;
        
        h2 {
            font-size: 3rem;
        }

        a figure {
            img {
                max-width: 550px;
            }

            figcaption {
                font-size: 2rem;
            }
        }
        
    }

    .contact-section {
        max-width: 1000px;
        margin: 0 auto;

        p {
            flex: 1;
            font-size: 3rem;
            margin-right: 9%;
        }
    }
}


/********************* START 1200PX MEDIA QUERY **************************/

@media (min-width: 1200px ) {
    .link {
    .txt {
        top: 40%;
      }
    }

    .hero-about .about-border,
    .hero-beers .title-border,
    .hero-events .title-border,
    .hero-contact .title-border {
         min-height: 60vh;
    }
    
    .flex1, .flex2 {
        align-items: center;
    }

    .hero-home {
        h1 {
            font-size: 6rem;
        }
    }

    .main-brews {
        .card.mb-3 {
            width: 50%;
        }
    }
}

/********************* START 1300PX MEDIA QUERY **************************/
@media (min-width: 1300px) {
    .link {
        
          .txt:hover {
            border-top: 2px double white;
            border-bottom: 2px double white;
            width: 45%;
            height: 25%;
            margin: auto;
            transition: .2s;
        }
}
}


/********************* START 1500PX MEDIA QUERY **************************/

@media (min-width: 1500px ) {
    .hero-about .about-border {
         min-height: 70vh;
    }
}

/********************* START 800PX MAX MEDIA QUERY **************************/

@media (max-width: 800px) {
    .card.mb-3 {
        width: 48%;
    }
}

/********************* START 750PX MAX MEDIA QUERY **************************/

@media (max-width: 750px) {
    .main-brews {
        display: flex;
        flex-flow: row wrap;
    }

    .card.mb-3 {
        width: 50%;
    }
}

/********************* START 600PX MAX MEDIA QUERY **************************/
@media (max-width: 600px) {
    .card.mb-3 {
        width: 60%;
    }
}

/********************* START 450PX MAX MEDIA QUERY **************************/
@media (max-width: 450px) {
    .card.mb-3 {
        width: 85%;
    }
}

/**********************ANIMATIONS********************************************/

@keyframes fadein {
	0% {
		opacity: 0;
		transform: scale(0.1);


	}

	100% {
		opacity: 1;
		transform: scale(1);

	}

}