@import "variable.less";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, iframe {
    width: 100%;
}


/************************ START HOME STYLING ************************/

.body-home {
    color: @dark-blue;   
    font-family: lato, sans-serif;
    min-height: 100vh;
    width: 100%;
    
    .header-home {
        background: #b3b3b3;
        height: 50px;
    }

    h1, h2, h3, h4 {
        font-family: acumin-pro-extra-condensed, sans-serif;
        letter-spacing: 2px;
        color: @white;
    }

    
    .cta, .txt {
        color: @white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

}

.hero-home {
    background-image: url(images/home-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    h1 {
        font-size: 3rem;
        text-align: center;
    }
    .cta {
        background: @dark-yellow;
        padding: 1% 4%;
        border-radius: 10px;
        margin-top: 2%;
    }
}

.mission {
    background: @dark-blue;
    color: @white;
    text-align: center;
    padding: 10% 5%;
}

.link {
    display: flex;
    flex-flow: row wrap;

    .block {
        color: @white;
        width: 100%;
        background: @white;
        text-align: center;
        position: relative;

    
        img {
            height: 100%;
        }
    }
    .txt {
        font-size: 2rem;
        position: absolute;
        z-index: 9999;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -9px;
        cursor: pointer;

    }
}


/************************ START ABOUT STYLING ************************/

.navbar-custom {
    background-color: @dark-blue !important;
}

.navbar-brand {
    position: absolute;
    top: -5px;
    width: 96vw;
}

.navbar-nav {
    padding-top: 5px;
}

.navbar-toggler {
    margin-top: 100px;
    margin-bottom: 3px;
}

.logo {
    max-width: 200px;
    display: block;
    margin: auto;
}


.hero-about {
    background-image: url(images/bg-1.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid @dark-blue;

    .about-border {
        padding-top: 14%;
        padding-left: 12%;
        min-height: 30vh;
    }

    h1 {
        color: @dark-blue;
        font-family: @font-family-acumin-pro-condensed;
        border-left: solid 5px @peach;
        padding-left: 3%;
    }
}

.about-content {
    padding: 5%;

    h2 {
        text-align: center;
        padding-bottom: 3%; 
        font-family: @font-family-acumin-pro-condensed;
        color: @dark-blue;
    }

    h3 {
        padding-bottom: 3%;
        text-align: center;
        font-family: @font-family-acumin-pro-condensed;
        color: @dark-blue;
    }

    p {
        padding-bottom: 3%;
        font-family: @font-family-lato;
        color: @dark-blue;
    }
}


.footer-color-block {
    background-color: @dark-blue;
    padding: 5%;
    color: @white;

    h3 {
        font-family: @font-family-acumin-pro-condensed;
        text-align: center;
        padding-bottom: 2%;
    }

    ul, p {
        font-family: @font-family-lato; 
        text-align: center;
    }

    li {
        list-style: none;
    }

    p span {
        font-weight: bold;
    }

    .footer-padding {
        padding-top: 8%;
    }
}

.footer-content {
    padding: 5%;

    ul, p {
        font-family: @font-family-lato; 
        text-align: center;
        color: @dark-blue;

        li {
            list-style: none;
            padding-bottom: 1%;
        }
    }

    .footer-icons {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 3%;
        font-size: 35px;
    }

    a {
        color: @dark-blue;
        text-decoration: none;
        padding-right: 1%;
    }
}



/********************* START 650PX MEDIA QUERY **************************/
@media (min-width: 650px ) {
    .hero-about .about-border {
        padding-top: 8%;

        h1 {
            padding-left: 2%;
        }
    }

    .link {
        .block {
            width: 50%;
        }
       }

    .footer-color-block .footer-padding {
        padding-top: 6%;
    }
}


/********************* START 767PX MEDIA QUERY **************************/
@media (min-width: 767px ) {
    .navbar-nav {
        padding-top: 100px;
    }
}


/********************* START 850PX MEDIA QUERY **************************/
@media (min-width: 850px) {
    .hero-about .about-border {
        min-height: 50vh;
    
        h1 {
        padding-left: 1%;
        font-size: 50px;
        border-left: solid 8px @peach;
        }
    }


	.flex1, .flex2 {
        display: flex;
    }

    .image-flex {
        width: 50%;
    }

    .flex2 {
        flex-direction: row-reverse;
    }

    .footer-color-block {

        h3 {
            padding-bottom: 1%;
        }

        .footer-padding {
            padding-top: 4%;
    
        }
    }
}


/********************* START 1000PX MEDIA QUERY **************************/
@media (min-width: 1000px) {
    .hero-about .about-border {
        padding-top: 6%;
    }
}


/********************* START 1200PX MEDIA QUERY **************************/
// @media (min-width: 1200px ) {
//     .image-flex {
//         width: 600px;
//     }
// }


@media (min-width: 1200px ) {
    .hero-about .about-border {
         min-height: 60vh;
    }
    
    .flex1, .flex2 {
        align-items: center;
    }

    .hero-home {
        h1 {
            font-size: 6rem;
        }
    }
}


// @media (min-width: 1200px) {
// 	.image-flex{
//         width: 600px
//     }
// }



/********************* START 1400PX MEDIA QUERY **************************/
// @media (min-width: 1400px ) {
//     .about-content {
//         padding-top: 16%;
//     }
// }

/********************* START 2000PX MEDIA QUERY **************************/

@media (min-width: 1500px ) {
    .hero-about .about-border {
         min-height: 70vh;
    }
}