@import url('https://use.typekit.net/mwg6wqu.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
iframe {
  width: 100%;
}
/************************ START HOME STYLING ************************/
.body-home {
  color: #05485A;
  font-family: lato, sans-serif;
  min-height: 100vh;
  width: 100%;
}
.body-home .header-home {
  background: #b3b3b3;
  height: 50px;
}
.body-home h1,
.body-home h2,
.body-home h3,
.body-home h4 {
  font-family: acumin-pro-extra-condensed, sans-serif;
  letter-spacing: 1px;
  color: #ffffff;
}
.body-home .cta {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hero-home {
  background-image: url(images/home-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.hero-home h1 {
  font-size: 3rem;
  text-align: center;
}
.hero-home .cta {
  background: #E9B168;
  padding: 1% 4%;
  border-radius: 10px;
  margin-top: 5%;
}
.mission {
  background: #05485A;
  color: #ffffff;
  text-align: center;
  padding: 10% 5%;
}
.link {
  display: flex;
  flex-flow: row wrap;
}
.link .block {
  color: #ffffff;
  width: 100%;
  background: #ffffff;
  text-align: center;
  position: relative;
}
.link .txt {
  font-size: 1.9rem;
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -9px;
}
/************************ START ABOUT STYLING ************************/
.logo {
  max-width: 200px;
}
.logo-center {
  text-align: center;
}
.hero-about {
  background-image: url(images/bg-1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 30vh;
  border-bottom: 2px solid #05485A;
}
.hero-about .about-border {
  padding-top: 14%;
  padding-left: 12%;
}
.hero-about h1 {
  color: #05485A;
  font-family: 'acumin-pro-condensed', sans-serif;
  border-left: solid 5px #D7745B;
  padding-left: 3%;
}
.about-content {
  padding: 5%;
}
.about-content h2 {
  text-align: center;
  padding-bottom: 3%;
  font-family: 'acumin-pro-condensed', sans-serif;
  color: #05485A;
}
.about-content h3 {
  padding-bottom: 3%;
  text-align: center;
  font-family: 'acumin-pro-condensed', sans-serif;
  color: #05485A;
}
.about-content p {
  padding-bottom: 3%;
  font-family: 'lato', sans-serif;
  color: #05485A;
}
.footer-color-block {
  background-color: #05485A;
  padding: 5%;
  color: #ffffff;
}
.footer-color-block h3 {
  font-family: 'acumin-pro-condensed', sans-serif;
  text-align: center;
  padding-bottom: 2%;
}
.footer-color-block ul {
  font-family: 'lato', sans-serif;
  text-align: center;
}
.footer-color-block li {
  list-style: none;
}
.footer-content {
  padding: 5%;
}
.footer-content ul,
.footer-content p {
  font-family: 'lato', sans-serif;
  text-align: center;
  color: #05485A;
}
.footer-content ul li,
.footer-content p li {
  list-style: none;
  padding-bottom: 1%;
}
.footer-content .footer-icons {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 3%;
  font-size: 35px;
}
.footer-content a {
  color: #05485A;
  text-decoration: none;
  padding-right: 1%;
}
/********************* START 650PX MEDIA QUERY **************************/
@media (min-width: 650px) {
  .about-border {
    padding-top: 8%;
  }
}
/********************* START 750PX MEDIA QUERY **************************/
@media (min-width: 850px) {
  .flex1,
  .flex2 {
    display: flex;
  }
  .image-flex {
    width: 50%;
  }
  .flex2 {
    flex-direction: row-reverse;
  }
}
/********************* START 1200PX MEDIA QUERY **************************/
